<ul>
    <li {% if page.url == "/index.html" %}class="active"{% endif %}>
        <a href="/">Home</a>
    </li>
    <li {% if page.url contains "/spring/" %}class="active"{% endif %}>
        <a href="/spring/">Spring Innovation Conference</a>
    </li>
    <li {% if page.url contains "/fall/" %}class="active"{% endif %}>
        <a href="/fall/">Fall Conference</a>
    </li>
    <li {% if page.url contains "/summer/" %}class="active"{% endif %}>
        <a href="/summer/">Summer Academy</a>
    </li>
    <li {% if page.url contains "/financial-aid/" %}class="active"{% endif %}>
        <a href="/financial-aid/">Financial Aid</a>
    </li>
</ul>
