---
layout: default
title: Contact | Journalism Awards
---

<div id="awards-contact-section">
    <div class="intro">
        <div class="intro-text"></div><img src="/assets/radcliffe.jpg">
    </div>

    <div class="main contact">
        <div class="first">
            <h2>Contact</h2>
            {% for coordinator in site.awards.coordinators %}
            {{ coordinator.name }}<br />
            <em>{{ coordinator.position }}</em><br />
            <a href="mailto:{{ coordinator.email }}">{{ coordinator.email }}</a><br />
            {% if coordinator.phone %}
                {{ coordinator.phone }}<br /><br />
            {% else %}
                <br />
            {% endif %}
            {% endfor %}
            {{ site.president.name }}<br />
            <em>{{ site.president.position }}</em><br />
            <a href="mailto:{{ site.president.email }}">{{ site.president.email }}</a><br /><br />
        </div>

        <div class="second">
            <h2>Stay up-to date.</h2>

            <iframe src="form.html" width="720" height="900" scrolling="no"></iframe>
        </div>
    </div>
</div>
