<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | The Harvard Crimson</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700" />
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="header-inner">
                    <a href="/"><img src="/assets/logo.png" /></a>
                    <div id="title">
                        <h1><a href="/">{{ site.organization }}</a></h1>
                        <h2><a href="/">{{ site.name }}</a></h2>
                    </div>
                    <p><em>{{ site.address|newline_to_br }}</em></p>
                    <div id="navigation">
                        {% include pages.html %}                
                    </div>
                </div>
            </div>

            <div id="main">
                {{ content }}                                  
            </div>

            <div id="footer">
                <div class="footer-inner">
                    <div class="footer-section">
                        <h2>Contact Us</h2>
                        <p>{{ site.phone }}<br/><a href="mailto:conference@thecrimson.com">{{ site.email }}</a></p>
                        <h2 class="footer-title">Address</h2>
                        {{ site.address | newline_to_br }}</p>
                    </div>
                    <div class="footer-section directors">
                        <h2>Coordinators</h2>
                        {% for coordinator in site.coordinators %}
                            <p>
                                {{ coordinator.name }}
                                <br />
                                <em>{{ coordinator.position }}</em>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="footer-credit">
                        <p>
                            Copyright {{ site.time | date: "%Y" }} <a href="http://www.thecrimson.com"><em>The Harvard Crimson</em></a>
                            <br/>Site design by <a href="http://www.angelaconstance.com">Angela Li</a>
                            <br/>Photos courtesy of <a href="http://www.deanshu.com/">Dean Shu</a>
                        </p>
                    </div>            
                </div>
            </div>        
        </div>
    </body>
</html>
